
@media (max-width: 768px) {

  .container {
    align-items: flex-start;
    padding: 8px;
    overflow: hidden;
  }

  .glass-card {
    width: 100%;
    max-height: 100vh;       
    height: 95vh;           
    padding: 14px;
    overflow: hidden;
    margin-top: 7px;
  }


  .content {
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    gap: 16px;
    
  }

  .left-section,
  .right-section {
    width: 100%;
    margin-left: 0;
  }

  .input {
    max-width: 100%;
  }

  .weather {
    font-size: 38px;
  }

  .time {
    font-size: 18px;
  }

  .day {
    font-size: 16px;
  }

  .date {
    font-size: 14px;
  }

  .temp-value {
    font-size: 52px;
  }

  .description {
    width: 100%;
  }

  .conditions {
    grid-template-columns: 1fr, 1fr;
  }

  .conditions div {
    font-size: 14px;
    padding: 6px 8px;
    min-height: 4px;
    line-height: 1.3;
  }

  .hourly-container {
    width: 100%;
    height: 200px;

  }

  .hourly div {
    min-width: 80px;     
    padding: 6px 4px;   
    font-size: 14px;
    
  }

  .hourly img {
    width: 48px;
    height: 48px;
  }

  .sun {
    gap: 90px;
  }

  .hourly {
    scroll-behavior: smooth;
  }

  .sun-box img {
    width: 55px;
  }
}
