* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}



/* GLASS CARD */
.glass-card {
  width: 100%;
  max-width: 1200px;
  background: rgb(150, 150, 155);
  border-radius: 18px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.glass-card::-webkit-scrollbar {
  display: none;
}

/* MAIN CONTENT */
.content {
  display: flex;
  gap: 32px;
  width: 100%;
}

/* LEFT SECTION */
.left-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 20px;
}

/* SEARCH */
.input {
  max-width: 320px;
  position: relative;
}

.input input {
  width: 100%;
  padding: 12px 90px 12px 16px;
  border-radius: 22px;
  border: 1px solid #777;
  outline: none;
}

.input button {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  padding: 0 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* WEATHER INFO */
.main-section {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.weather {
  font-size: 42px;
  font-weight: 600;
}

.time,
.day,
.date {
  font-size: 20px;
  color: #333;
}

.temp-toggle {
  display: flex;
  align-items: center;
  gap: 16px;
}

.temp-value {
  font-size: 64px;
  font-weight: 700;
}

.temp-unit {
  display: flex;
  gap: 6px;
  font-size: 28px;
}

.tempC.active,
.tempF.active {
  font-size: 38px;
  font-weight: 700;
}

.icon img {
  width: 100px;
  height: 100px;
}

/* RIGHT SECTION */
.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 10px;
}

/* CONDITIONS */
.conditions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.conditions div {
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 18px;
  /* font-weight: 600; */
}

/* HOURLY FORECAST */
.hourly-container {
  background: #969696;
  padding: 14px;
  border: 1px solid #777;
  border-radius: 14px;
}

.hourly-container h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.hourly {
  display: flex;
  gap: 14px;
  overflow-x: auto;
}

.hourly::-webkit-scrollbar {
  display: none;
}

.hourly div {
  min-width: 80px;
  background: rgb(200, 200, 200);
  border-radius: 12px;
  padding: 10px 6px;
  text-align: center;
  font-size: 13px;
}

/* DESCRIPTION */
.description {
  width: 60%;
  /* background: rgba(255,255,255,0.4); */
  border: 1px solid #777;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: 18px;
  text-align: center;
}

/* SUNRISE / SUNSET */
.sun {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.sun-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sun-box img {
  width: 70px;
}

.sun-box span {
  font-size: 16px;
}
